<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Apple(Brasil)</title>
  <link rel="stylesheet" href="/stylesheets/styleDoSite.css">
  <link rel="shortcut icon" href="/images/img.png" type="image/x-icon"/>
</head>
  <body>

    <div class="container">

      {{>_headers}}
      
      {{{body}}}
    </div>
  </body>
</html>
