
      <!--uma coluna-->
      <div class="row">
        <div class="primeiroDiv">
          <div class="segundoDiv">
              <img class="displayed"src="/images/primeira.jpg" alt="">
              <img class="displayedTer"src="/images/terceira.jpg" alt="">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="primeiroDiv">
          <img src="segundo.png" alt="">
          <h3 class="subCabeçalho"> Tela Super Retina e a maior tela em um iPhone. Melhor desempenho com o chip A12 Bionic. Autenticação facial
              mais segura usando o Face ID.  Câmera dupla inovadora com Controle de Profundidade. Desempenho mais rápido. Fotos com qualidade de estúdio
          </h3>
          <a href="#">Saiba mais &#x0003E;</a>
            <a href="#">  Comprar &#x0003E;</a>
          <div class="segundoDiv">
            <img class="displayed"src="/images/quarta.jpg" alt="">
            <img class="displayedQui"src="/images/quinta.jpg" alt="">
          </div>
        </div>
      </div>
