
  {{#each erros}}
    <div class="primeiroDiv">{{erros}}</div>
    {{else}}

  {{/each}}

<div class="container">
  <div class="row">

  <div class="row">
    <div class="primeiroDiv">
      <section>
        <form class="" action="/usuarios/login" method="post">
          <label for="email">Email: </label>
            <input type="email" name="email" placeholder="Seu email" >
            <br>
          <label for="senha">Senha: </label>
            <input type="password" name="senha" placeholder="Sua senha" >
            <br>
          <button type="submit" >Entrar</button>
        </form>
      </section>

    </div>
  </div>

</div>
