
{{#each erros}}
    <div class="primeiroDiv">{{erros}}</div>
  {{else}}

{{/each}}

<div class="row">
  <div class="primeiroDiv">
    <section>
      <form class="" action="" method="post">
        <label for="nome" >Nome: </label>
          <input type="text" name="nome" placeholder="Seu nome"class= "form-control"  >
          <br>
        <label for="email">Email: </label>
          <input type="email" name="email" placeholder="Seu email">
          <br>
        <label for="senha">Senha: </label>
          <input type="password" name="senha" placeholder="Sua senha" >
          <br>
        <label for="senha">Repita sua senha: </label>
          <input type="password" name="senha2" >
          <br><br>
        <button type="submit" name="button">Criar Conta</button>
      </form>

      <a href="/usuarios/login"> <button>loguin</button></a>
    </section>
  </div>
</div>
